/* 노말라이즈 시작 */
body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 노말라이즈 끝 */

/* 라이브러리 시작 */
.con {
  margin-right: auto;
  margin-left: auto;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.height-100p {
  height: 100%;
}

.border-red {
  border: 2px solid red;
}

.border-gold {
  border: 2px solid gold;
}

.border-green {
  border: 2px solid green;
}

.border-blue {
  border: 2px solid blue;
}

.img-box > img {
  width: 100%;
  display: block;
}
/* 라이브러리 끝 */

/* 변수 시작 */
:root {
  --site-width: 1000px;
}
/* 변수 끝 */

/* 커스텀 시작 */
.con-min-width {
  min-width: var(--site-width);
}

.con {
  width: var(--site-width);
}

/* top-bar 시작 */
.top-bar > .con > a {
  letter-spacing: -0.7px;
  font-weight: bold;
  font-size: 2.2rem;
  padding: 20px 0;
}
/* top-bar 끝 */

/* menu-bar 시작 */
.menu-bar ul > li {
  width: calc(100% / 7);
  position: relative;
}

.menu-bar ul > li > a {
  letter-spacing: -0.7px;
  display: block;
  text-align: center;
  padding: 15px 0;
}

.menu-bar ul > li:hover > a {
  color: red;
  text-decoration: underline;
}

.menu-bar ul ul {
  transform: translateY(30px);
  transition: transform 0.5s, visibility 0.5s;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  visibility: hidden;
}

.menu-bar ul > li:hover > ul {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.menu-bar ul ul > li {
  width: 100%;
  background-color: #afafaf;
}
/* menu-bar 끝 */

/* title-bar 시작 */
.title-bar {
  margin-top: 50px;
  letter-spacing: -0.7px;
  padding-left: 10px;
}
/* title-bar 끝 */

/* section-slider-1 시작 */
/* my-slider-1 시작 */
.my-slider-1 {
  position: relative;
}

/* my-slider-1__nav 시작 */
.my-slider-1__nav-button {
  position: absolute;
  top: 180px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

.my-slider-1__nav-button__left {
  right: calc(100% + 20px);
}

.my-slider-1__nav-button__right {
  left: calc(100% + 20px);
}
/* my-slider-1__nav 끝 */

/* swiper-slide 시작 */
.swiper-slide {
  overflow: hidden;
}

.swiper-slide > img {
  width: 100%;
  display: block;
  transform: scale(1.1);
  transition: transform 5s;
}

.swiper-slide-active.swiper-slide > img {
  transform: scale(1);
}

.my-slider-1__prod-name {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: red;
  padding: 10px 15px;
  border-radius: 0 0 10px 0;
  transform: translateY(-100px);
  transition: transform 1s 0.5s;
}

.swiper-slide-active .my-slider-1__prod-name {
  transform: translateY(0);
}

.my-slider-1__prod-name::before {
  content: "GO TO ";
}
/* swiper-slide 끝 */

/* my-slider-1__pagination 시작 */
.my-slider-1__pagination {
  margin-top: 20px;
}

.my-slider-1__pagination .swiper-pagination-bullet {
  width: auto;
  height: auto;
  border: 50%;
  border-radius: 50%;
  overflow: hidden;
  outline: 0;
  margin: 0 10px;
}
/* my-slider-1__pagination 끝 */
/* my-slider-1 끝 */
/* section-slider-1 끝 */

/* my-slider-2 시작 */
.my-slider-2 ul > li {
  width: calc(100% / 4);
  padding: 0 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* my-slider-2__prod-list 시작 */
.my-slider-2__prod-list {
  position: relative;
  overflow: hidden;
}

.my-slider-2__prod-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 1s;
}

.my-slider-2 ul > li:hover > .my-slider-2__prod-list::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

.my-slider-2__prod-list > img {
  transform: scale(1);
  transition: transform 1s;
  position: relative;
  z-index: -1;
}

.my-slider-2 ul > li:hover .my-slider-2__prod-list > img {
  transform: scale(1.1);
}

.my-slider-2__prod-txt {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.my-slider-2 ul > li:hover .my-slider-2__prod-txt {
  opacity: 1;
}

.my-slider-2__prod-txt > span {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
}

.my-slider-2__prod-txt > span::before {
  content: "GO TO ";
}
/* my-slider-2__prod-list 끝 */

/* my-slider-2__prod-name, price 시작 */
.my-slider-2__prod-name {
  text-align: center;
  margin-top: 5px;
  letter-spacing: -0.7px;
  font-weight: bold;
}

.my-slider-2__prod-price {
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: bold;
}

.my-slider-2__prod-price::after {
  content: "원";
  font-size: 1rem;
}
/* my-slider-2__prod-name, price 끝 */
/* my-slider-2 끝 */
/* 커스텀 끝 */
